@charset "UTF-8";
* {
  outline: none;
}

html {
  font-family: sans-serif;
}

header {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #fff;
  border: none;
  border-bottom: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 90;
}

header .spacer {
  max-width: 1000px;
  margin: 0px auto;
}

header .spacer a {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  font-weight: 300;
  color: #333;
  background: #ffffff;
}

header .spacer a:hover {
  background: #f5f5f5;
}

.success {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 100vh;
  bottom: 0px;
  background: #00a07f;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: top 0.2s, opacity 0.2s;
  transition: top 0.2s, opacity 0.2s;
  opacity: 0;
}

.success h2 {
  margin: 40px;
  color: #ffffff;
  font-weight: 100;
  font-size: 32px;
}

.success a {
  margin: 40px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}

.error {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 100vh;
  bottom: 0px;
  background: #EE6055;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: top 0.2s, opacity 0.2s;
  transition: top 0.2s, opacity 0.2s;
  opacity: 0;
}

.error h2 {
  margin: 40px;
  color: #ffffff;
  font-weight: 100;
  font-size: 32px;
}

.error a {
  margin: 40px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}

main {
  max-width: 800px;
  margin: 0px auto;
  margin-top: 80px;
  padding: 0px 25px;
}

main .team-picker {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 18px;
}

main .team-select-button {
  width: 100%;
  padding: 10px;
  background: #EB5160;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

main .team-select-button:hover {
  cursor: pointer;
  -webkit-transform: scale(0.95, 1.05);
          transform: scale(0.95, 1.05);
}

main .team-select-button:active {
  -webkit-transform: scale(1.05, 0.95);
          transform: scale(1.05, 0.95);
}

main .question-tests {
  background: #f5f5f5;
  border-radius: 5px;
}

main .question-tests details {
  padding: 0px;
}

main .question-tests details summary {
  padding: 15px;
  width: 100%;
}

main .question-tests td {
  padding: 10px;
  font-family: monospace;
  font-weight: 100;
  font-size: 10px;
  table-layout: fixed;
}

main .masthead {
  width: 100%;
  height: 160px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 0px 20px;
}

main .masthead .largeIcon {
  width: 200px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 108px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .spacer {
  width: 100%;
  height: 80px;
}

main #editor {
  width: 100%;
  height: 400px;
  border-radius: 5px;
}

main .body h2 {
  font-weight: 300;
  font-size: 32px;
  margin: 0px;
  margin-top: 44px;
  position: relative;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
}

main .select-area {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .select-area p {
  justify-self: flex-start;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 300;
  color: #aaa;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .select-area select {
  height: 30px;
  width: 160px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  font-family: monospace;
  text-transform: capitalize;
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: contain;
  -webkit-filter: grayscale(100%) contrast(120%);
          filter: grayscale(100%) contrast(120%);
  background-image: url("data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%22-20 0 100 100%22><text y=%221.25em%22 font-size=%2255%22>💾</text></svg>");
}

main p {
  font-weight: 100;
  line-height: 1.8;
  text-align: justify;
}

main .questions {
  padding: 10px;
}

main .questions .question {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px 40px;
  margin: 15px;
  position: relative;
  padding-top: 40px;
  -webkit-transition: padding-bottom 0.2s;
  transition: padding-bottom 0.2s;
  overflow: hidden;
  display: block;
  color: #333;
  text-decoration: none;
}

main .questions .question:hover {
  cursor: pointer;
  padding-bottom: 80px;
}

main .questions .question:hover .hidden {
  opacity: 1;
}

main .questions .question:hover .rating {
  font-size: 18px;
}

main .questions .question h2 {
  margin: 10px;
  font-weight: 100;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

main .questions .question p {
  margin: 0px;
}

main .questions .question .rating {
  position: absolute;
  right: 5px;
  top: 5px;
  letter-spacing: 10px;
  font-size: 22px;
  -webkit-transition: font-size 0.1s;
  transition: font-size 0.1s;
}

main .questions .question .hidden {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  border: none;
  border-top: 1px solid #ddd;
  opacity: 0;
  background: #fff;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .questions .question .hidden .section {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-left: 1px solid #ddd;
  font-weight: 400;
  text-transform: uppercase;
  color: #aaa;
  font-size: 14px;
  -webkit-transition: font-size 0.2s;
  transition: font-size 0.2s;
}

main .questions .question .hidden .section:first-child {
  border-left: none;
}

main .questions .question .hidden .section:hover {
  font-size: 16px;
}

main .leaderboard {
  padding: 10px;
}

main .leaderboard .leaderboardItem {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 30px 0px;
  margin: 15px;
  position: relative;
}

main .leaderboard .leaderboardItem .leaderboardIcon {
  position: absolute;
  width: 40px;
  right: 10px;
  top: 10px;
}

main .leaderboard .leaderboardItem h2 {
  font-weight: 600;
  padding: 0px 30px;
  margin: 0px;
  text-transform: uppercase;
}

main .leaderboard .leaderboardItem h3 {
  font-weight: 300;
  padding: 0px 30px;
  margin: 0px;
}

main .submission-area {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .submission-area button {
  margin: 5px;
  height: 30px;
  padding: 0px 40px;
  border: 1px solid #ddd;
  border-radius: 5px;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
}

main .submission-area button:hover {
  cursor: pointer;
  opacity: 0.9;
  -webkit-transform: scale(0.95, 1.05);
          transform: scale(0.95, 1.05);
}

main .submission-area button:active {
  -webkit-transform: scale(1.1, 0.9);
          transform: scale(1.1, 0.9);
}

main .submission-area .primary {
  background: #EB5160;
  border: none;
  color: #fff;
  font-weight: 600;
}

main .submission-area .secondary {
  background: linear-gradient(-30deg, #f5f5f5, #efefef);
  border: 1px solid #ddd;
  font-weight: 300;
}
/*# sourceMappingURL=style.css.map */